# Environnements virtuels
venv/
.venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/

# Fichiers d'environnement et secrets
.env
.env.*
!.env.example

*.pem

# Bases de données locales
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
build/
.next/

# IDE et OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.docker/

# DVC / Machine Learning
#/data/*.csv
/models/*.pkl
!/data/.gitkeep
!/models/.gitkeep

# Logs
*.log
